<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Exercice BackBone</title>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>

</head>
<body>
  <script type="text/template" id="joueur-template">
      <li>
          <a href='contact.php?id=<%= id %>'>
              <%= id %> <%= poste %> <%= nom %>
          </a>
      </li>
  </script>
  <script src="mb/model/joueur.js" ></script>
  <script src="mb/view/joueur.js" ></script>

  <script src="main.js"></script>

  <ul id="joueur_list">
  </ul>
</body>
</html>
